<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    <h1>estoy probando cambios</h1>
    <div style="display: flexbox; max-width: 25%; text-align: center;">
        {% for numero in lista %}
            {% if numero <= 6 %}
                <p style='color: red; background-color: black; border-radius: 10px'>Desaprobado con: {{numero}}</p>
            {% else %}
                <p style='color: green; background-color: black'>Aprobado con: {{numero}}</p>
            {% endif %}
        {% endfor %}
    </div>
</body>
    
</html>